/*Fetured section---------------------------------------------------*/
.featured-section {
  position: relative;
  
}

.featured-image img {
  width: 100%;
  height: auto;
 
}

.featured-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  flex-direction:row ;
}

.column {
  flex-basis: 50%;
}

.column h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
  font-size: 40px;
  
}


.input-button {
  display: inline-block;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  
}
.input-button .flex-container {
  display: flex;
  align-items: center;
}

.whatsapplogo{
  margin-right: 10px;
  margin-bottom: -20px; /* Adjust the negative margin to lift the image */
}

.inner-button {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.input-button img{
  flex: auto;
  margin: 5px;
  position: relative;
  
  width : 30px;
  height: 20px;
}
.country-code {
  margin-right: 10px;
}

.phone-input {
  flex-grow: 1;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
}

.green-button {
  border-radius: 25px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
}



.svg-image {
  height: 100%;
  align-self: flex-end;
  object-fit: cover;
}

@media (max-width: 600px) {
  .featured-section {
    display: none;
  }
}