
.content-box-red {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: #ee3425;
}
.content-box-yellow {
  display: flex;
  height: 150px;
  width: 100%;
  background-color:#fbdc00;
}
.text-container-yellow {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
      font-size: 28px;
    line-height: 1.2;
  color: black;   
  margin: 20px;
  margin-left: 70px;
}

.text-container-red h3{
    font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
      font-size: 28px;
    line-height: 1.2;
  color: white;   
  margin: 20px;
  margin-top: 42px;
  margin-left: 70px;
}

.text-container-red p {
  color: white; 
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 70px;
}
.side-button{
    margin-left: auto;
    margin-right: 30px;
}
.get-started-button-ready {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #ee3425;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  transition: width 0.3s ease-in-out;
}
.know-more-button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;   
  margin-left: auto;
  margin-right: 20px;
  border-radius: 8px;
  background-color: #ebbe00;
  border: none;
  margin-top: 55px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  height: 36px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .content-box-yellow {
    flex-direction: column;
    height: 170px;
  }
  .content-box-red {
    flex-direction: column;
    height: 170px;
  }
  .text-container-red h3{
    margin: 10px;
    margin-left: 20px;
  }
    .text-container-red p{
    margin: 10px;
    margin-left: 20px;
  }
  .text-container-yellow{
      margin-left: 20px !important;
      margin: 0px;
  }
  .side-button{
    margin-left: 20px;
    margin-top: -38px;
  }

}

