
html {
  font-family: "PT Sans", sans-serif;
  font-wieght: 500;
}
body {
  margin: 0;
}

/*Data and numbers section---------------------------------------------------*/
.flex-container-num {
  margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: 25%;
  text-align: center;
  margin-bottom: 20px;
}

.data-number {
  font-size: 48px;
  color: #ee3425;
}

.data-caption {
  font-size: 18px;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .flex-item {
    width: 50%;
  }

  .data-number {
    font-size: 36px;
  }

  .data-caption {
    font-size: 16px;
  }
}

/*Trusted section---------------------------------------------------------*/
.logo-section {
  height: 130px;
  overflow: hidden;
}

.logo-container {
  display: flex;
  animation: marquee 20s linear infinite;
}

.logo-container img {
      height: 73px;
  width: 146px;
  margin-right: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* industries section-------------------------------------------------- */
.industries {
      font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  margin: 0 auto;
  padding: 0px;
}

.row {
display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.heading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.image-column {
  flex-basis: calc(100% / 7);
  text-align: center;
  margin-bottom: 20px;
}

.image-column img {
  width: 100px;
  height: 100px;
}

.caption {
  margin-top: 10px;
  text-align: center;
}
/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .image-column {
    flex-basis: calc(100% / 4); /* Display 4 images in a row for smaller screens */
  }
  
  @media screen and (max-width: 480px) {
    .image-column {
      flex-basis: calc(100% / 3); /* Display 3 images in a row for even smaller screens */
    }
  
    @media screen and (max-width: 320px) {
      .image-column {
        flex-basis: calc(100% / 2); /* Display 2 images in a row for the smallest screens */
      }
    }
  }
}

}
/* Video--------------------------------------------------------*/
.video-thumbnail {
  position: relative;
  width: 100%;
}

.video-thumbnail img {
  width: 100%;
  height: auto;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

